<div>
    <% const images = ["/images/icons/liked.png", "/images/icons/heart.png"]; %>

    <%# if(isLiked) { %>
        <img src='/images/icons/heart.png' alt="liked" style="width: 25px; height: 25px" id="heart">
    <%# } else {%>
        <!-- <img src="<%#-images[1]%>" alt="unliked" style="width: 25px; height: 25px"> -->
    <%# } %> 
</div>