<div class="header container-fluid">
    <div class = "row text-center my-4 tabs mb-auto">
        <div class="col-6 dropdown">
            <a  href="my-account" 
                id="leftsubnav" 
                role="button" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                class='active-header-link'>
             My Account</a>

             <ul class="dropdown-menu left-dropdown" aria-labelledby="leftsubnav">
                <li><a href="/my-account" class='dropdown-item'>Personal Information</a></li>
                <li><a href="/security" class='dropdown-item'>Security and Login</a></li>
                <li><a href='/' class='dropdown-item'>Log Out</a></li>
            </ul>
        </div>

        <div class = "col-6">
            <a href='/recently-viewed' class='inactive-header-link' id='right'>Recently Viewed</a>
        </div>

    </div>
    <div class ="line"></div>
</div>