<div class = "profile container-fluid">
    <div class = "avatar my-3 d-md-block d-lg-block d-none">
        <div class="row">
          <div class="col"> 
             <img class="float-end" width="80" src='/images/icons/acc.png' alt='User' />
          </div>

          <div class="col details my-auto">
             <p> <span id='name'>Name of customer</span>
                 <a href='/likes'><img width = "30" src = '/images/icons/liked.png' alt='Likes'/></a>
                 <br/> 
                 <span id='username'>username of custo</span></p>
          </div>
        </div>
    </div>
</div>