@import url(c:\Users\athen\OneDrive\Desktop\school\ICS2609\project\new-hiraya\public\styles\fonts.css);
/*COLOR PALETTE*/
/*FONTS*/
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow: auto;
}

button:hover, a:hover {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#help img {
  width: 50px;
}

#help {
  position: fixed;
  bottom: 0;
  right: 10px;
}

body {
  background-color: transparent;
}

.nav {
  background-color: #B87D6F;
}

.nav-categories {
  font: Neue Einstellung;
  color: white;
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-header {
  width: 100%;
  background-color: #B87D6F;
}

.logo {
  margin-left: 2%;
  padding-right: 2%;
}

.ul-toggle {
  list-style-type: none;
}

.ul-toggle li {
  display: inline-block;
  gap: 20px;
}

#navbarSupportedContent {
  width: 100%;
}

.nav-link {
  margin: 0;
  font-family: Neue Montreal;
}

.nav-link #link {
  color: #EBE0DD;
  text-decoration: none;
  font-size: 120%;
}

.nav-link .active {
  color: #FFFFFF;
  background: #C4B0AC;
  text-decoration: none;
  padding: 17px;
  font-family: Neue Montreal;
  font-size: 120%;
}

.nav-link #link:hover {
  color: #FFFFFF;
}

.nav-search:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: Neue Montreal;
  border: none;
}

.nav-search {
  font-family: Neue Montreal;
  letter-spacing: 0.05em;
  border: none;
}

.icons {
  list-style-type: none;
}

.icons-navlink {
  display: inline-block;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
  text-align: center;
}

.dropdown-menu {
  font-family: Neue Einstellung;
}

.dropdown-menu .dropdown-item {
  color: #B87D6F;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #F4F4F4;
  cursor: pointer;
}

#accDropDown li {
  color: #B87D6F;
  font-size: auto;
  letter-spacing: 0.05em;
  background-color: transparent;
  font-family: Neue Montreal;
  padding: 8%;
  border: none;
  background-color: #EBE0DD;
}

.women-title, .men-title {
  padding: 2%;
  font-family: Neue Montreal;
  color: #B87D6F;
}

.filter-by {
  color: #B87D6F;
  font-size: 120%;
  font-family: Neue Montreal;
  letter-spacing: 0.05em;
  margin: 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #EBE0DD;
}

#btnGroupDrop1 {
  color: #B87D6F;
  font-size: auto;
  letter-spacing: 0.05em;
  background-color: transparent;
  font-family: Neue Montreal;
  padding: 8%;
  text-transform: uppercase;
  border: none;
  background-color: #EBE0DD;
}

.brands-filter {
  padding: 0;
}

.dropdown-menu {
  font-family: Neue Einstellung;
}

.dropdown-menu .dropdown-item {
  color: #B87D6F;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #F4F4F4;
  cursor: pointer;
}

.cards p, .cards div {
  margin-top: 1.5%;
  font-family: Neue Einstellung;
  text-align: center;
}

.cards #prod-list-img {
  border: 4px solid #e4e4e4;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.cards .heart :hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media screen and (max-width: 540px) {
  .heart {
    width: 400px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=product-list.css.map */